
.challenge-games-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.challenge-game-card {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background-color: #213743;
  border: none;
  transition: transform 0.2s;
  cursor: pointer;
}

.challenge-game-card:hover {
  transform: scale(1.05);
}

.challenge-game-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.challenge-game-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.challenge-game-details {
  width: 100%;
  color: white;
}

.challenge-game-name {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.challenge-game-content {
  padding: 0.75rem;
  color: white;
  font-size: 0.875rem;
}

.challenge-game-info {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.challenge-hit-info {
  font-size: 0.75rem;
  color: #CCC;
  width: 65%;
}

.challenge-prize, .challenge-creator {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
  color: #CCC;
}

.prize-amount {
  color:#FFFFFF;
  font-weight: 500;
}

.creator-name {
  display: flex;
  align-items: center;
  color: #FFF;
}

.star-icon {
  color: #FFD700;
  margin-right: 0.25rem;
}

@media (max-width: 768px) {
  .challenge-games-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  
  .challenge-game-name {
    font-size: 1rem;
  }
  
}
