
.provider-logo-container {
  background-color: #213743;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
  min-height: 80px;
}

.provider-logo-container:hover {
  transform: translateY(-5px);
  background-color: #2A4959;
}

.provider-logo-image {
  max-width: 100%;
  max-height: 50px;
  object-fit: contain;
}
