
.search-bar {
  flex: 1;
}

.search-bar.full-width {
  width: 100%;
}

.search-container {
  position: relative;
  border-left: 2px solid #557086;
}

.search-icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  width: 18px;
  height: 18px;
}

.search-input {
  width: 100%;
  height: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  font-size: 0.875rem;
  background-color: #132635;
  border: none;
  color: white;
}

.search-input::placeholder {
  color:#9ca3af;
  font-weight: 600;
}

.search-input:focus {
  outline: none;
}

.mobile-sidebar .search-container {
  border-left: none;
  background-color: #132635;
  margin: 10px;
  border-radius: 4px;
}
.mobile-sidebar .search-input {
  padding: 0 2.5rem;
}
